<div class="track">
  <h2><a [routerLink]="['/projects']">Lista projektów</a></h2>
</div>

<h2>{{ project?.name }}</h2>
<p>{{ project?.description }}</p>

<h3>Funkcjonalności:</h3>
<div *ngFor="let functionality of functionalities">
  <div class="funItem">
    <div>
      <h3>
        <a [routerLink]="['/projects', project?.name, 'functionalities', functionality.name]">{{ functionality.name }}
        </a>
      </h3>
    </div>
    <div>
      <p><b>Priorytet: </b>{{ functionality.priority }}</p>
    </div>
    <div>
      <p><b>Status: </b>{{ functionality.status }}</p>
    </div>
    <div>
      <p><b>Użytkownik: </b>{{ functionality.user.firstName}} {{ functionality.user.lastName}}</p>
    </div>
    <div>
      <button [routerLink]="['/projects', project?.name, 'functionalities', functionality.name]">Szczegóły</button>
      <button
        [routerLink]="['/projects', project?.name, 'functionalities', functionality.name, 'edit-functionality']">Edytuj</button>
      <button (click)="deleteFunctionality(functionality.name)">Usuń</button>

    </div>

  </div>
</div>
<div class="buttons">
  <button [routerLink]="['/projects']">Wróć</button>
  <button class="addFunc" [routerLink]="['/projects', project!.name, 'add-functionality']">Dodaj funkcjonalność</button>
</div>
