<div class="track">
  <h2><a [routerLink]="['/projects']">Lista projektów</a> > </h2>
  <h2><a [routerLink]="['/projects', task?.functionality?.project?.name]">{{ task?.functionality?.project?.name }}</a> >
  </h2>
  <h2><a
      [routerLink]="['/projects', task?.functionality?.project?.name, 'functionalities', task?.functionality?.name]">{{ task?.functionality?.name }}</a>
  </h2>
</div>
<div class="center">

  <div *ngIf="task">
    <h2> Szczegóły zadania:</h2>
    <h2>{{task.name}}</h2>
    <p><strong>Opis:</strong> {{task.description}}</p>
    <p><strong>Priorytet:</strong> {{task.priority}}</p>
    <p><strong>Funkcjonalność:</strong> {{task.functionality.name}}</p>
    <p><strong>Szacowany:</strong> {{task.estimatedTime}} godz.</p>
    <p><strong>Status:</strong> {{task.status}}</p>
    <p><strong>Data dodania:</strong> {{task.addedAt | date}}</p>
    <p><strong>Użytkownik:</strong> {{task.user.firstName}} {{task.user.lastName}}</p>

    <div class="buttons">
      <button
        [routerLink]="['/projects', task.functionality.project.name, 'functionalities', task.functionality.name]">Wróć</button>
      <button
        [routerLink]="['/projects', task.functionality.project.name, 'functionalities', task.functionality.name, 'tasks', task.name, 'edit-task']">Edytuj</button>
      <button (click)="deleteTask()">Usuń zadanie</button>
    </div>

  </div>
</div>
