<h2> Functionality details</h2>
<div *ngFor="let task of tasks" >
  <h3>
    <a [routerLink]="['/projects', functionality?.project?.name, 'functionalities', functionality?.name, 'tasks', task.name]">
      {{task.name}}
    </a>
  </h3>
    <p><b>Opis:</b> {{ task.description }}</p>
    <p><b>Priorytet:</b> {{ task.priority }}</p>
    <p><b>Status:</b> {{ task.status }}</p>
    <p><b>Projekt:</b> {{ task.functionality.project.name }}</p>
    <p><b>Użytkownik:</b> {{ task.user.firstName }} {{ task.user.lastName }}</p>
</div>


  
