<section>
    <div class="format">
      <h2>Format</h2>
      <div>
        <label>Kolor:</label>
        <input [(ngModel)]="styles.color" placeholder="red" name="color" (ngModelChange)="generateCss()"/>
      </div>
      <div>
        <label>Kolor tła:</label>
        <input [(ngModel)]="styles.backgroundColor" placeholder="green" name="backgroundColor" (ngModelChange)="generateCss()"/>
      </div>
      <div>
        <label>Obramowanie:</label>
        <input [(ngModel)]="styles.border" placeholder="5px solid black" name="border" (ngModelChange)="generateCss()"(ngModelChange)="generateCss()"/>
      </div>
      <div>
        <label>Cień:</label>
        <input [(ngModel)]="styles.boxShadow" placeholder="5px 10px #888888" name="boxShadow" (ngModelChange)="generateCss()"/>
      </div>
    </div>
    
    
    <div class="format">
      <h2>Elementy formatowane</h2>
      <input [ngStyle]="styles" placeholder="Input" value="Input" />
      <button [ngStyle]="styles">Button</button>
      <div id="div" [ngStyle]="styles">Div</div>
    </div>
    
    <div class="format">
      <h2>Wygenerowany kod CSS</h2>
      <pre>{{ kodCss }}</pre>
    </div>
  </section>
