<div class="track">
  <h2><a [routerLink]="['/projects']">Lista projektów</a></h2>
</div>

<h2>{{ project?.name }}</h2>
<p>{{ project?.description }}</p>

<h3>Funkcjonalności:</h3>
<div *ngFor="let functionality of functionalities">
  <div class="funItem">
    <div>
      <h3>
        <a [routerLink]="['/projects', project?.name, 'functionalities', functionality.name]">{{ functionality.name }}
        </a>
      </h3>
    </div>
    <div>
      <p><b>Priorytet: </b>{{ functionality.priority }}</p>
    </div>
    <div>
      <p><b>Status: </b>{{ functionality.status }}</p>
    </div>
    <div>
      <p><b>Użytkownik: </b>{{ functionality.status }}</p>
    </div>
    <div>
      <button>Szczegóły</button>
      <button>Edytuj</button>
      <button>Usuń</button>

    </div>

  </div>

</div>
