h2 {
  text-align: center;
}
.edit-task {
  display: flex;
  justify-content: center;
  align-items: center;

  .form-container {
    .form-group:first-child {
      display: block;
      > label,
      input {
        display: block;
        width: 100%;
      }
    }
    .form-group:nth-child(2) {
      display: block;
      > label,
      textarea {
        display: block;
        width: 100%;
      }
    }
    .form-group:nth-child(4) {
      input {
        display: block;
        width: 21.5%;
      }
    }

    .form-group {
      margin: 10px;
      display: flex;
      justify-content: space-between;
    }
  }
  .buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
}
