<h2>Edytowanie zadania</h2>

<div class="edit-task">

  <form class="form-container" [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name"><b>Nazwa zadania</b></label>
      <input id="name" type="text" class="form-control" formControlName="name">
    </div>

    <div class="form-group" nth-child="2">
      <label for="description"><b>Opis</b></label>
      <textarea id="description" class="form-control" formControlName="description" rows="5"></textarea>
    </div>

    <div class="form-group">
      <label for="priority"><b>Priorytet:</b></label>
      <select id="priority" class="form-control" formControlName="priority">
        <option value="Niski">Niski</option>
        <option value="Średni">Średni</option>
        <option value="Wysoki">Wysoki</option>
      </select>
    </div>

    <div class="form-group">
      <label for="estimatedTime"><b>Szacowany czas:</b></label>
      <input id="estimatedTime" type="number" class="form-control" formControlName="estimatedTime">
    </div>

    <div class="form-group">
      <label for="status"><b>Status:</b></label>
      <select id="status" class="form-control" formControlName="status">
        <option value="TODO">TODO</option>
        <option value="DOING">DOING</option>
        <option value="DONE">DONE</option>
      </select>
    </div>
    <div class="buttons">
      <button
        [routerLink]="['/projects', task?.functionality?.project?.name, 'functionalities', task?.functionality?.name, 'tasks', task?.name]">Wróć</button>
      <button type="submit">Zapisz</button>

    </div>


  </form>

</div>
